<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <div class="d-flex align-items-center">
            <a class="navbar-brand me-3" href="/">Sistema Web</a>
            <div class="ms-auto">
                <a class="btn btn-primary btn-lg me-2" href="/">Cadastrar</a>
                <a class="btn btn-primary btn-lg" href="/consultar">Consultar</a>
                <a class="btn btn-primary btn-lg" href="/atualizar">Atualizar</a>
            </div>
        </div>
    </div>
</nav>
<div class="container mt-4">
    <h3 class="mb-3">Consultar Clientes</h3>
    <p>Sistema utilizado para agendamentos de serviços</p>
    <div class="row mt-4">
        <div class="col">
            <div class="container bg-primary">
                <div class="row align-items-center">
                    <div class="col" style="color: white;">Nome</div>
                    <div class="col" style="color: white;">Telefone</div>
                    <div class="col" style="color: white;">Origem</div>
                    <div class="col" style="color: white;">Data de Contato</div>
                    <div class="col" style="color: white;">Observação</div>
                </div>
            </div>
        </div>
    </div>
</div>